body{
    background-color: rgb(27, 27, 27);
}
#about{
    font-family: cursive;
    background-color: rgb(8, 8, 8);
    color: rgb(29, 29, 27);
    border-radius: 10px;
    font-size: x-large;
    margin: 20px 10px;
    border-color: red;
}
#abouttext{
    color: grey;
    font-family: cursive;
    text-align: center;
}
#social{
    color: grey;
    font-family: cursive;
    margin: 100px 100px;
}
#websitetext{
    color: grey;
    font-family: cursive;
    text-align: right;
    font-size:xx-large;

}